.fonts {
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Georgia', 'Times New Roman', 'serif'; 
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #808080;
    text-align: center;
    border: 6px solid #ff0000;
    border-radius: 10px;
}

.uppercase {
    text-transform: uppercase;
    color: #ffff00;
    word-spacing: 0.2px;
    background: #ff0000;
}

.usualtext {
    color:  #ffffff;
    font-weight: 300;
}

.link {
    text-decoration: none;
}